<html>
		<head>
			<title>Angular controller</title>
			<script src='angular.js'></script>
		</head>
		<body>
			<h1>Angular JS Controller</h1>
			<div ng-app="ngcontroller" ng-controller="newController">
				<p>Enter firstname: <input type='text' ng-model='student.firstname'></input></p>
				<p>Enter Lastname: <input type='text' ng-model='student.lastname'></input></p>
				<p>The name is: {{student.fullname()}}</p>
			</div>
			<script>
				var newngcontroller = angular.module("ngcontroller",[]);
				newngcontroller.controller('newController', function($scope) {
					   $scope.student = {
							//firstname: 'Suchithra',
							//lastname: 'Dhanaraj',
							firstname: '',
							lastname: '',
							fullname: function () {
								var studobj = $scope.student;
								return studobj.firstname + " " + studobj.lastname;
							}
						};
				});
			</script>
		</body>
</html>
